.git
.github

node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

/public/build
/public/hot

/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

.env
.env.*
docker-compose*.yml
nginx.conf
README.md
tests
